@import url(colors.css);
.mobile {
    display: none;
}
body {
  font-family: sans-serif;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
}
header {
  display: flex;
  margin: 0;
  padding: 0;
}
header>div {
  margin: 0;
  padding: 1vw;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
header>div.desktop {
  margin-left: 2.6vw;
}
header img {
  width: 15vw;
}
header h1, header h2 {
  padding: 0;
  margin: 0;
}
header h1 {
  font-size: 2.2vw;
}
header h2 {
  font-size: 2.4vw;
  margin-top: 1.4vw;
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: 1vw 3vw 1vw 3vw;
}
main>div#heading {
  grid-area: 1 / 1 / 2 / 3; 
  text-align: center;
}
main p {
  font-size: 1.4vw;
  text-align: justify;
}
main h2 {
  font-size: 2.4vw;
}
main ul, main ol {
  font-size: 1.6vw;
  margin-left: 1.5vw;
}
main li {
  margin-bottom: 0.5vw;
}
footer {
  text-align: center;
  margin-top: 4vw;
}
footer hr {
  margin-bottom: 1vw;
}
footer a {
  display: inline;
  width: 50px;
  padding: 1px;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}
footer a strong {
  font-weight: bold;
  padding-left: 2px;
  margin-right: 5px;
}

/* Mobile style */
@media screen and (max-width: 1080px) and (orientation: portrait) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header img {
    width: 25vw;
    padding: 2vw;
  }
  header h1 {
    margin-left: 10vw;
    margin-top: 4vw;
    font-size: 9vw;
  }
  main {
    grid-template-columns: 100%;
    padding: 3vw;
  }
  main h2 {
    font-size: 4vw;
  }
  main li {
    font-size: 3vw;
    margin-bottom: 1.4vw;
  }
}
